@import './variables/global';
@import './themes/dark';
@import './themes/light';
@import './reset';

.app {
		font: var(--font-m);
		min-height: 100vh;
		color: var(--primary-color);
		background-color: var(--bg-color);
}

.outlined{
	text-decoration: solid;
	
}