.Sidebar {
	height: calc(100vh - var(--header-height));
	transition: width 0.3s;
	width: 50px;
	display: flex;
	justify-content: center;
	background-color: var(--inverted-color);
	padding: 20px 0;
}

.open {
	width: 200px;
}