.ProfileCard {
  display: block;
  width: 50%;
  border: 2px solid var(--primary-color);
  border-radius: 7px;
  padding: 15px;
  height: 300px;

  &.edit {
    border-color: rgb(68 205 68);
  }

  &.errors {
    border-color: rgb(246 28 28);
  }
}

.Error {
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.Loading {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.Buttons {
  display: flex;
  gap: 20px;
}
