.button {
  border: none;
  outline: none;
  background-color: inherit;
  width: auto;
  height: auto;
  color: var(--primary-color);
  cursor: pointer;

  &.outline {
    border: 1px solid black;
  }

  &.rounded {
    border-radius: 5px;
  }
}
