.Input {
  max-width: auto;
  padding: 3px 2px;
  color: var(--inverted-color);
  font-size: var(--font-size-l);
  display: flex;
  gap: 5px;

  & input {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--inverted-color);
  }

  & input:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--inverted-color);
  }

  & .InputTitle {
    font-size: var(--font-size-m);
    color: var(--primary-color);
  }
}
